$orange-50: #FFF3ED ;
$orange-100:#FFE4D4;
$orange-200:#FFC5A9;
$orange-300:#FF9C72;
$orange-400:#FE6434;
$orange-500:#FD4012;
$orange-600:#EE2608;
$orange-700:#C51809;
$orange-800:#9C1510;
$orange-900:#7E1510;

$blue-50: #F0F6FE;
$blue-100: #DCEAFD;
$blue-200: #C2DBFB ;
$blue-300: #98C6F8 ;
$blue-400: #67A7F3;
$blue-500: #387EED;
$blue-600: #2D67E3 ;
$blue-700: #2553D0;
$blue-800: #2444A9  ;
$blue-900: #233D85 ;


$black-50: #F6F8F9;
$black-100: #DAE0E7;
$black-200: #B6C1CD;
$black-300: #8B99AC ;
$black-400: #637088;
$black-500: #495469 ;
$black-600: #363F4F;
$black-700: #282E39;
$black-800: #1C1F27;
$black-900: #14161A;