@use "../../styles/colors" as color;
@use "../../styles/breakpoints" as *;

.header_container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5rem 2rem;
  background-color: rgba(color.$blue-900, 0.1);
  backdrop-filter: blur(3px);

  @include sm {
    position: relative;
  }
}


.forzam_logo {
  width: 3rem;
}

.header_nav {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  a {
    color: color.$blue-50;
  }

  > li {
    color: color.$blue-50; 
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: color.$orange-400;
    }

    &::after {
      content: " ";
      display: block;
      transition: all 0.3s cubic-bezier(0,0,1,1);
      border-bottom: 2px solid color.$orange-400;

      transform: scaleX(0);
    }

    &:hover::after {
      color: color.$orange-400;
      transform: scaleX(0.6);
    }
  }

  @include sm {
    display: flex;
  }
}

