@use "../../styles/breakpoints" as *;
@use "../../styles/colors" as color;


.forzam_art {
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("/assets/img/forzam_image.jpg");
  background-attachment: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  > img {
    width: 4rem;
  }

  height: 20rem;

  @include md {
    background-attachment: fixed;
    background-size: auto;

    background-size: cover;

    height: 15rem;
  }

  @include lg {
    height: 20rem;
  }

}